/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about-us,
.board,
.contact,
.question,
.map,
.news,
.not-found,
.reports {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  font-size: 3rem;
  background-color: #f5f3f4;
  margin-left: 5px;
}
