/** @format */
/** @format */
* {
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.search-box {
  height: 100%;
  width: 30%;
  background-color: #faf8f8;
}

.search-area {
  background-color: #ba181b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15vh;
}

.search-input {
  width: 82%;
  height: 6.3vh;
  margin-left: 1%;
  border-radius: 10px;
  border-style: none;
}

.map-box {
  width: 70%;
  height: 100%;
}

.search-icon {
  position: absolute;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-left: 19%;
}

.search-result-box {
  height: 78vh;
  background-color: white;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

.type-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.type-box :hover {
  background-color: #e5e5e5;
}

.around-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.type-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 44px;
  width: 8vh;
  height: 8vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type-icon svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
}

.type-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5%;
  border-radius: 10px;
}

.type-icon-box p {
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15%;
  font-size: 0.8rem;
}
