/** @format */
@import "designs.scss";

.header {
  background-color: $prime-color;
  height: 3rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Oswald", sans-serif;
}

.group-name {
  color: whitesmoke;
  font-size: 2.2vh;
  padding-left: 20px;
}
