/** @format */

@import "designs.scss";

.map {
  display: flex;
  font-size: 62.5%;
  list-style-type: none;
}

section {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.logo-box {
  height: 44px;
  padding-top: 14px;
  padding-right: 19px;
  padding-left: 24px;
  background-color: $prime-color-3;
  display: flex;
  color: white;

  .service-name {
    font-size: 2.6em;
    font-weight: 600;
  }
}

.around-box {
  margin-left: auto;
  display: flex;
  align-items: center;

  p {
    font-size: 1.3em;
  }

  svg {
    margin-left: 5px;
    font-size: 1.8em;
  }
}

.search-bar {
  height: 100%;
  width: 430px;
  background-color: #faf8f8;
}

.search-box {
  background-color: $prime-color-3;
  display: flex;
  align-items: center;
  height: 75px;

  .search-area {
    background-color: white;
    margin-left: 25px;
    border-radius: 8px;
    width: 260px;

    button {
      color: black;
      background-color: white;
      width: 24px;
      height: 24px;
    }
  }

  svg {
    font-size: 19px;
    vertical-align: sub;
  }
}

.search-input {
  width: 220px;
  height: 44px;
  margin: 0;
  font-size: 18px;
  border-radius: 8px;
  border-style: none;
  background-color: white;
}

input:focus {
  outline: none;
}

.map-box {
  width: 100%;
  height: 100%;
}

.search-icon {
  position: absolute;
  font-size: 1.5rem;
}

.search-result-box {
  height: calc(93% - 95px);
  background-color: white;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  overflow: scroll;
}

.type-box {
  display: flex;
  justify-content: space-evenly;

  // HAVE TO CHANGE ICON
  :hover {
    background-color: #e5e5e5;
  }
}

.type-icon {
  display: flex;
  border-radius: 44px;
  width: 8vh;
  height: 8vh;
  justify-content: center;
  align-items: center;

  svg {
    display: flex;
    align-items: center;
    width: 24px;
  }
}

.city-info-box {
  display: flex;
  padding-left: 13px;
  margin-top: 10px;
  padding-bottom: 8px;
  line-height: 1.9em;
  border-bottom: 1.5px solid rgba(92, 92, 92, 0.5);

  .city-name {
    font-size: 2.3em;
    font-weight: 600;
  }

  .city-count {
    margin-left: 16px;
    font-size: 1.4em;
  }
}

.place-box {
  text-align: start;
  font-size: 1.3em;
  border-bottom: 1.5px solid rgba(92, 92, 92, 0.5);

  .place-name {
    font-size: 1.4em;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #c4c4c4;
  }

  .place-info-box {
    padding-top: 7px;
    padding-bottom: 8px;
  }

  li {
    padding-left: 13px;
  }
  .place-info-icon {
    background-color: $prime-color-3;
    color: white;
    min-height: 42px;
    max-height: 42px;
    max-width: 42px;
    min-width: 42px;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    border-radius: 24px;
    display: flex;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  .place-info-list {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.place-box:hover {
  background-color: rgba(231, 242, 165, 0.42);

  .place-name {
    color: blue;
  }
}
// .type-icon-box {
//   display: flex;
//   flex-direction: column;
//   padding: 1.5%;
//   border-radius: 10px;

//   p {
//     color: black;
//     justify-content: center;
//     margin-top: 15%;
//     font-size: 0.8rem;
//   }
// }

.place-info-tag {
  font-weight: bold;
}
